//** FONTS **//
@font-face {
    font-family: 'Futura Md Bt';
    src: url(/fonts/futura/futura\ medium\ bt.ttf);
}

@font-face {
    font-family: 'Futura';
    src: url(/fonts/futura/futur.ttf);
}
//** FONTS **//

//** COLORS **//
$Gold-Color: #D89C00;
$Orange-Color: #F88906;
$White-Color: #FFFFFF;
$Gold: #FFB800;
//** COLORS **//

html {
    box-sizing: border-box;
    font-size: 62.5%; /*1 rem = 10px*/
   
}
* {
    padding: 0;
    box-sizing: border-box;
}
*, *:before, *:after{
    box-sizing: inherit;
}
body {
    font-family: 'Futura Md Bt';
    font-size: 1.6rem;
    background-color:#FBFCFC;;
}

/** GLOBALS **/
.container {
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: $White-Color;
}
//1rem = 10px
h1, h2, h3, h4 {
    font-family: 'Futura Md Bt';
}
h1 {
    font-size: 4.8rem;
}
h2 {
    font-size: 4rem;
}
h3 {
    font-size: 3.2rem;
}
h4 {
    font-size: 2.8rem;
}
img {
    max-width: 100%;
}
li{
    list-style: none;
}
/** GLOBALS **/

//** UTILS **//
.no-margin {
    margin: 0;
}
.no-padding {
    padding: 0;
}
//** UTILS **//

//** HEADER **//
.header{
    background-image: url(../img/BackgroundHeader.jpg);
    height: 64rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin: -8px;
}
.header-text{
    text-align: center;
    color: #FFFFFF;
    margin-top: -37rem;
    margin-right: 77rem;
}
.Amazon-Color{
    color: $Orange-Color;
}
.text-right-header-Start{
    margin-right: 10rem;
}
.text-right-header-Within{
    margin-right: 31rem;
}
.text-here{
    margin-right: 21rem;
    margin-top: 10px;
    font-size: 16px;
}
.text-right-seller{
    margin-right: 220px;
}
.bar{
    display: flex;
    align-items: center;
  }
.move-nav-right{
    margin-right: 190px;
}
.logo{
    width: 30px;
    margin-top: 20px;
}
.navbar {
    display: flex;
    align-items: center;
    padding: 20px;
    color: #fff;
}
.nav-links a {
    color: #fff;
}
/* LOGO */
.logo {
    width: 3%;
    margin-top: 28px;
    margin-right: 25px;
}
/* NAVBAR MENU */
.menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
    margin-top: 27px;
}
.menu li:hover {
    background-color: #D89C00;
    border-radius: 8px;
    transition: 0.3s ease;
}
.menu li {
    padding: 5px 14px;
}

   /* CHECKBOX HACK */
input[type=checkbox]{
    display: none;
} 
   /*HAMBURGER MENU*/
.hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
    
}
   /* APPLYING MEDIA QUERIES */
@media (max-width: 768px) {
.menu { 
    display:none;
    position: absolute;
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;
    background-color:$Gold;
}
.menu li:hover {
    display: inline-block;
    background-color: $Gold;
    transition: 0.3s ease;
}
.menu li + li {
    margin-top: 12px;
}
input[type=checkbox]:checked ~ .menu{
    display: block;
}
.hamburger {
    display: block;    
    margin-left: 25rem;
    }
}
.amazon-new-expert{
    display: grid;
    margin-top: 26px;
    margin-right: 220px;
}
.amazon-new-seller,
.amazon-expert-seller{
    background-color: #D89C00;
    border-radius: 10px;
    width: 71%;
    padding: 7px;
    margin-left: 98px;
}
.amazon-expert-seller{
    margin-top: 30px;
}
.laptopheaderimg{
    width: 64rem;
    margin-left: 71rem;
    margin-top: 27px;
}
//** HEADER **//

/** HOW ITS WORKS **/
.how-its-works-section{
    position: relative;
    margin-top: 8px;
    margin-left: 260px;
    width: 69%;
    height: 41vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.how-its-works-section::before{
    content: '';
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    border-right: 145px solid transparent;
    border-left: 145px solid transparent;
    border-top: 163px solid #FFB800;

}
.how-its-works{
    position: relative;
    z-index: 1;
    margin: 0 auto;
    max-width: 900px;
    text-align: center;
}
.how-its-works-section  .how-its-works h2{
    margin: 0;
    padding: 0;
    margin: 0;
    padding: 0;
    color: $White-Color;
    font-size: 3em;
    font-family: "Futura Md Bt";
    margin-bottom: 10rem;
}

/** HOW ITS WORKS **/

//** MAIN **//
.icon-main{
     display: grid;
     gap: 2rem;
     grid-template-columns: repeat(4,1fr);
     margin-top: 38px;
}
.img-icon{
    margin-bottom: -13px;
}
.title-main{
    margin-bottom: 0;
}
.icon{
    text-align: center;
    align-items: center;
    img{
        height: 8rem;
    }
    h3{
        font-size: 20px;
        font-family: 'Futura Md Bt';
        font-weight: bold;
    }
    p{
        font-family: 'Futura Md Bt';
    }
}
//** MAIN **//

//** Line **//
.line-img{
    margin-top: 9rem;
}
.div_line_bottom1{
    border-bottom: 3px solid #CACFD2;
    padding-bottom: 20px;
    margin-bottom: 5rem;
}
.div_line_bottom2{
    border-bottom: 3px solid #CACFD2;
    padding-bottom: 20px;
    margin-top: 5rem;
}
.OurSponsors-img{
    margin-left: 51rem;
    margin-top: 4rem;
    width: 16%;
}


.ecos-img{
    display: flex;
    align-items: center;
    margin-top: 22px;
    margin-left: 353px;
    display: flex;
    gap: 15rem;
}
.ecomeffect{
    width: 22%;
}

.EcomCEOs{
    width: 16%;
}
//** Line **//


//**meet-our-star-products-**//
.meet-our-star-products-text{
    font-size: 2rem;
    text-align: center;
    margin-top: 30px;
}
.mio-laboratorio{
    align-items: center;
    display: flex;
    gap: 2rem;
    margin-left: 74px;
}
.BoxLaptop{
    width: 25%;
}
.mio-laboratorio-text{
    margin-bottom: 25px;
    font-size: 14px;
}
.mio-laboratorio-title{
    font-size: 2rem;
}
.mio-text-title{
    color: $Gold-Color;
}
#tunnel-vision-text{
    margin-left: 36px;
}
.Learn-more{
    background-color: $Gold;
    padding: 4px;
    border-radius: 18px;
    width: 10%;
    margin-left: 447px;
    margin-top: -107px;
}
.Learn-more-text{
    padding-left: 22px;
}
.Learn-more2{
    background-color: $Gold;
    padding: 4px;
    border-radius: 18px;
    width: 10%;
    margin-left: 783px;
    margin-top: -27px;
}
.Learn-more-text2{
    padding-left: 22px;
}
//**meet-our-star-products-**//


//**Footer**//
.footer{
    text-align: center;
    padding: 3px;
    background-color: #121212;
    color: white;
    width: 100%;
    height: 13rem;
}
.reserved-text{
    font-size: 25px;
    font-family: 'Futura Md Bt';
    margin-top: 51px;
}
.section-footer{
    margin: -8px;
}
.DOWNLOAD{
    width: 546px;
    height: 0px;
    border-right: 60px solid transparent;
    border-left: 60px solid transparent;
    border-bottom: 100px solid #FFB800;
    margin-left: 49rem;
}
.download-text{
    font-size: 27px;
    color: #FFFFFF;
    text-align: center;
    padding-top: 39px;
    margin-top: 162px;
}
//**Footer**//


//**Responsive**//
@media (max-width: 888px){
    .header{
        width: 132%;
    }
    .laptop-image{
        width: 69%;
        margin-left: -134px;
    }
    .logoimg{
        margin-left: -35px;
    }
    .nav{
        margin-left: -17px;
    }
    .laptopheaderimg{
        width: 49%;
        margin-top: 129px;
        margin-left: 66rem;
    }
    .header-text{
        margin-top: -24rem;
        margin-right: 57rem;
    }
    .how-its-works{
        padding-top: 81px;
    }
    .amazon-new-expert{
        margin-left: -81px;
    }
    .icon-main{
        margin-top: 76px;
        margin-right: -8rem;
    }
    .how-its-works-section{
        margin-left: 168px;
    }
    .line-img{
        width: 108%;
     
    }
    .OurSponsors-img{
        margin-left: 35rem;
        margin-top: 2rem;
    }
    .ecos-img{
        margin-left: 23rem; 
        gap: 11rem;
    }
    .meet-our-star-products-text{
        text-align: center;
        margin-left: 5rem;
    }
    .DOWNLOAD{
        margin-left: 21rem;
    }
    .mio-laboratorio{
        width: 83%;
        margin-left: 111px;
    }
    .mio-laboratorio-text{
        font-size: 9px;
    }
    .mio-laboratorio-title{
        font-size: 18px;
    }
    .BoxLaptop{
        width: 18%;
    }
    .Learn-more{
        padding: 0px;
        border-radius: 18px;
        width: 14%;
        margin-left: 258px;
        margin-top: -24px;
    }
    .Learn-more-text{
        padding-left: 21px;
        font-size: 14px;

    }
    .Learn-more2{
        padding: 0px;
        border-radius: 18px;
        width: 14%;
        margin-left: 495px;
        margin-top: -19px;
    }
    .Learn-more-text2{
        padding-left: 21px;
        font-size: 14px;

    }
    .footer{
        width: 108%;
    }
}

@media (max-width: 632px){
    .header{
        background-image: url(/img/BACKGROUNDMobil.svg);
    }
    .move-nav-right{
        margin-right: -539px;
    }
   .logo{
    width: 3%;
    margin-top: -16px;
    margin-left: -28px;
   }
   .hamburger{
    display: block;
    margin-left: 46rem;
    margin-top: -24px;
   }
   .laptopheaderimg{
    width: 46%;
    margin-left: 331px;
    margin-top: 213px;
   }
   .header-text{
    margin-top: -35rem;
    margin-right: 57rem;
   }
   .text-here{
    margin-right: -41rem;
    margin-top: 22px;
   }
   .launch-text{
    font-size: 29px;
    margin-right: -45rem;
   }
   .text-right-seller{
    margin: 0;
   }
   .text-right-header-Start{
    margin-right: 7rem;
   }
   .text-right-header-Within{
    margin-left: 91px;
   }
   .amazon-new-expert{
    width: 188%;
    margin-top: 20rem;
    margin-left: 8rem;
   }
   .how-its-works-section{
    margin-left: 123px;
   }
   .how-its-works{
    font-size: 11px;
   }
   .icon-main{
    display: block;
    margin-right: -62px;
   }
   .DOWNLOAD{
    margin-left: 8rem;
   }
}
//**Responsive**//